{% extends "user/product_base.html" %}
 {% block content %}

<div class="container">
<div class="row">
  <div class="col-sm-6">
        Add new Adress For Delievery!<br>
<br>

     <form  method="post">{% csrf_token %}

          <input type="text" class="form-control" name="name" placeholder="name" required style="width :300px;font-size: 15px;"><br>
          <input type="text" class="form-control" name="address" placeholder="address" required style="width :300px;font-size: 15px;"><br>
          <input type="text" class="form-control" name="state" placeholder="state" required style="width :300px;font-size: 15px;"><br>
          <input type="text" class="form-control" name="phone" placeholder="phone" required style="width :300px;font-size: 15px;"><br>


        <input class="btn btn-primary" type="submit" value="Submit"/>
     </form></div>
 <div class="col-sm-6">
<div class="row">
     {% for post in object %}
 <div class="col-md-6" >
            {{post.name}}<br>
                {{post.address}}<br>
                 {{post.state}}<br><br>
          <a href="{% url 'buy_now' post.id %}" class="btn btn-secondary">deliever here</a><br><br><br>
 </div>


    {% endfor %}</div>
 </div>
</div></div>

{% endblock %}