<!--feedback form-->
{% extends "user/product_base.html" %}
 {% block content %}
<div class="feed_form">


     <form  method="post">{% csrf_token %}
<center>
     {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success"> {{ message }}</div>

      {% endfor %}
{% endif %}
    <h2>Feedback Form !</h2><br>
          <input type="text" class="form-control" name="name" placeholder="name" required style="width :300px;font-size: 18px;"><br>

          <input type="text" class="form-control" name="phone" placeholder="phone" required style="width :300px;font-size: 18px;"><br>

    <textarea class="form-control" name="describe" placeholder="write your feedback here " required style="width :300px;height:200px;font-size: 18px;"></textarea><br>

        <input class="btn btn-primary" type="submit" value="Submit"/>
</center>   </form><br><br>

</div>





{% endblock %}

