{% extends 'user/base.html' %}
{% load static %}

 {% block content %}
 <div class="upload">
        <center>
<div class="sign_up_form">
          <img src="{% static './user/img/i.png' %}" class="icon" height="100" width="100"><br>

      <h2>Login here </h2>
<form method="post" >

          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <h3><label for="username"></label>
          <input type="text" class="input-box" name="username" placeholder="Username"><br>
<label for="password"></label>
          <input type="password" class="input-box" name="password" placeholder="Password"><br>
              <button type="submit"><h3 class="nih"><strong>Login</strong></h3></button>  </h3><br>
</form><br><br>

</div></center></div>
 <br><br><br>
{% endblock %}